
:root {
    --background: #FFFDF5; 
    --text: #2b2d44;
    --accent-1: #3847D2;
    --accent-2: #FF9283;
    font-size: 16px;
    height: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: y proximity;

    @media (max-width: 720px) {
        scroll-snap-type: none;
    }

}

body {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    background-color: var(--background);
    color: var(--text);
    box-sizing: border-box;
    height: 100%;
}

a {
    font-weight: 600;
    color: var(--accent-1);
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 4px; 
}

::-webkit-scrollbar-thumb {
    background-color: var(--accent-1); 
    border-radius: 6px; 
    opacity: 50%;
}

::-webkit-scrollbar-track {
    background: var(--background); 
}

#content-container {
    display: flex;
    height: 100%;
    padding: 4rem;
    @media (max-width: 720px) {
        height: auto;
        flex-direction: column;
        gap: 4rem;
    }
}


#left-content {
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    overflow: hidden;
    position: fixed;
    @media (max-width: 720px) {
        position: relative;
        width: 100%;
    }
}

#nav {
    display: block;
    @media (max-width: 720px) {
        display: none;
    }
}

.nav-item {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.nav-item.active a {
    color: var(--accent-2);
}

.nav-item.active .nav-line {
    width: 2rem;
    margin-right: 1rem;
}

.nav-item:not(.active) a:hover {
    padding-left: 1rem;
    cursor: pointer;
}


.nav-item .nav-line {
    height: 2px;
    background-color: var(--accent-2);
    width: 0;
    transition: 0.5s;
}

.nav-item a {
    display: block;
    font-weight: 600;
    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    width: fit-content;
    color: #2b2d44;
}

&.active a {
    color: var(--accent-2);
}

&.active .nav-line {
    width: 2rem;
    margin-right: 1rem;
}

#header-text {
    font-family: 'DM Serif Text';
    font-size: 64px;

    @media (max-width: 1200px) {
        font-size: 3rem;
    }
}

#header-text span {
    color: var(--accent-1);
}

#right-content {
    width: 50%;
    margin-left: 50%;

    @media (max-width: 720px) {
        width: 100%;
        margin-left: 0;
    }
}

section {
    scroll-snap-align: start;
    margin-bottom: 8rem;
    scroll-margin: 6rem;

    @media (max-width: 720px) {
        width: 100%;
        margin-left: 0;
        margin-bottom: 20%;
    }
}

.section-header {
    width: 100%;
    justify-content: space-between;
    display: none;
    gap: 2rem;
    align-items: center;
    margin-bottom: 2rem;
    font-family: 'DM Serif Text';

    @media (max-width: 720px) {
        display: flex;
    }
}

.section-divider-line {
    width: 100%;
    height: 2px;
    background-color: var(--accent-2);
}

.section-header-title {
    font-size: 2.5rem;
}

#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    font-size: 1rem;
    scroll-margin-top: 4rem;
    box-sizing: border-box;
    height: calc(100vh - 8rem);

    @media (max-width: 720px) {
        scroll-margin: 6rem;
        height: auto;
    }
}

#about span {
    background-color: var(--accent-2)
}

#about #photo {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100px;

    @media (max-width: 720px) {
        position: relative;
        margin: auto;
        margin-top: 4rem;
    }
}

#icons {
    display: flex;
    gap: 1rem;
    margin-top: 4rem;

    &:hover {
        cursor: pointer;
    }
}


#resume {
    margin-top: 8rem;
    height: calc(100vh - 4rem);
    box-sizing: border-box;


    @media (max-width: 720px) {
        height: auto;
        margin-top: 0;
    }
}

#circle {
    width: 100%;
    padding-bottom: 100%;
    float: right;
    content: "";
    position: relative;
    background-color: var(--accent-2);
    border-radius: 100%;
    display: block;
    overflow: hidden;
    box-sizing: border-box;
    
    @media (max-width: 720px) {
        display: none;
    }
}

#resume-photo {
    position: absolute;
    width: 60%;
    max-width: 25rem;
    transform: rotate(-18deg);
    box-shadow: -4px -4px 8px 1px rgba(0, 0, 0, .2);
    transition: 0.5s;
    display: block;
    top: 30%;
    left: 30%;

    &:hover {
        transform: rotate(-25deg);
        cursor: pointer;
        top: 20%;
        left: 20%;
    }

    @media (max-width: 720px) {
        display: none;
    }
}

#resume-button {
    padding: 0.25rem 0.5rem;
    border: 2px solid var(--accent-1);
    border-radius: 100px;
    color: var(--accent-1);
    font-weight: 600;
    font-size: 1rem;
    display: none;
    max-width: 200px;
    text-align: center;
    margin: auto;
    background-color: var(--background);
    transition: 0.5s;

    &:hover {
        background-color: var(--accent-1);
        color: var(--background);
    }

    @media (max-width: 720px) {
        display: block;
    }
}

#projects {
    scroll-margin: 2rem;
}

.proj {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 80%;
    justify-items: flex-end;
    padding-left: 20%;
    padding-bottom: 20%;
    scroll-snap-align: start;
    scroll-margin: 2rem;

    @media (max-width: 720px) {
        padding: 0;
        width: 100%;
    }
}

.proj-img {
    border-radius: 12px;
    box-shadow: 0px 4px 8px 1px rgba(0, 0, 0, .2);
    margin: 1rem 0;
}

.proj-title {
    font-size: 32px;
    color: var(--accent-1);
    font-weight: 600;
    border-left: 5px solid var(--accent-2);
    padding-left: 2rem;
}

.technologies-container {
    display: flex;
    gap: 0.5rem;
}

.proj-desc {
    font-size: 1rem;
}

.technology {
    padding: 0.25rem 0.5rem;
    border: 2px solid var(--accent-1);
    border-radius: 100px;
    color: var(--accent-1);
    font-weight: 600;
    font-size: 0.75rem;
}


